/* Coolors Exported Palette - coolors.co/a1d2ce-78cad2-35ce8d-5497a7-50858b */

/* HSL */
$color1: hsla(175%, 35%, 73%, 1);
$color2: hsla(185%, 50%, 65%, 1);
$color3: hsla(155%, 61%, 51%, 1);
$color4: hsla(192%, 33%, 49%, 1);
$color5: hsla(186%, 27%, 43%, 1);

/* RGB */
$color1: rgba(161, 210, 206, 1);
$color2: rgba(120, 202, 210, 1);
$color3: rgba(53, 206, 141, 1);
$color4: rgba(84, 151, 167, 1);
$color5: rgba(80, 133, 139, 1);